{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: 'Raleway', sans-serif;
        background-color: #f4f4f4;
    }

    .audit-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f4f4f4;
    }

    .audit-header {
        width: 100%;
        max-width: 1000px;
        padding: 20px 10px;
        background-color: #1B878F;
        color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    .audit-table {
        width: 100%;
        max-width: 1000px;
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #1B878F;
        color: white;
    }

    .download-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
        gap: 20px;
    }

    .download-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #D10A11;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .download-button:hover {
        background-color: #a00;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination a {
        margin: 0 5px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        color: #1B878F;
        text-decoration: none;
        border-radius: 5px;
    }

    .pagination a:hover {
        background-color: #1B878F;
        color: #fff;
    }

    .pagination .current {
        background-color: #1B878F;
        color: #fff;
        pointer-events: none;
    }

    .filter-button {
        padding: 10px 20px;
        background-color: #D10A11;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }

    .filter-button:hover {
        background-color: #a00;
    }
</style>

<div class="audit-container">
    <div class="audit-header" style="margin-bottom: 20px;">
        <h1>Historial de Auditoría</h1>
    </div>
    <form method="get" action="{{ url_for('audit.auditoria') }}" style="font-family: 'Raleway', sans-serif; font-weight:600;">
        <label for="start_date">Fecha de Inicio:</label>
        <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}" style="font-family: 'Raleway', sans-serif; font-weight: normal;">
        <label for="end_date" style="margin-left: 10px;">Fecha de Fin:</label>
        <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}" style="font-family: 'Raleway', sans-serif; font-weight: normal;">
        <button type="submit" class="filter-button">Filtrar</button>
    </form>
    <div class="audit-table">
        <table>
            <tr>
                <th>Fecha de Subida</th>
                <th>Documento</th>
                <th>Autor</th>
                <th>Fecha de Edición</th>
                <th>Usuario</th>
                <th>Versión</th>
            </tr>
            {% for registro in registros %}
            <tr>
                <td>{{ registro['fecha_subida'] }}</td>
                <td>{{ registro['documento'] }}</td>
                <td>{{ registro['autor'] }}</td>
                <td>{{ registro['fecha_edicion'] }}</td>
                <td>{{ registro['usuario'] }}</td>
                <td>{{ registro['version'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="download-buttons">
            <a href="#" class="download-button" onclick="showModal('pdf')">Descargar PDF</a>
            <a href="#" class="download-button" onclick="showModal('excel')">Descargar Excel</a>
        </div>
        <div class="pagination">
            {% for p in range(1, (total // per_page) + 2) %}
                <a href="{{ url_for('audit.auditoria', page=p, start_date=request.args.get('start_date'), end_date=request.args.get('end_date')) }}" class="{{ 'current' if p == page else '' }}">{{ p }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal -->
<div id="downloadModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Descargar Auditoría</h2>
        <form id="downloadForm" method="get">
            <label for="filename" class="form-label" style="font-size: large;  font-family: 'Raleway', sans-serif; font-weight: bold;">Nombre del archivo:</label>
            <input type="text" id="filename" name="filename" class="form-control" style="font-size: large; font-family: 'Raleway', sans-serif; width: 100%; margin-top: 10px;" required>

            <input type="hidden" id="filetype" name="filetype">
            <input type="hidden" name="start_date" value="{{ request.args.get('start_date') }}">
            <input type="hidden" name="end_date" value="{{ request.args.get('end_date') }}">
            <div style="text-align: center;"> <button type="submit" class="download-button" style="font-size: large;  font-family: 'Raleway', sans-serif; font-weight: bold; text-align: center;">Descargar</button></div>
           
        </form>
    </div>
</div>

<script>
    function showModal(filetype) {
        document.getElementById('filetype').value = filetype;

        // Obtener fechas
        const startDate = '{{ request.args.get('start_date', 'None') }}';
        const endDate = '{{ request.args.get('end_date', 'None') }}';

        // Formar nombre predeterminado del archivo
        let filename = 'Auditoria';
        if (startDate !== 'None' && endDate !== 'None') {
            filename += ` ${startDate} a ${endDate}`;
        } else {
            const now = new Date();
            filename += ` ${now.toISOString().slice(0, 19).replace('T', ' ')}`;
        }

        // Asignar nombre predeterminado al campo de entrada
        document.getElementById('filename').value = filename;

        // Mostrar modal
        document.getElementById('downloadModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('downloadModal').style.display = 'none';
    }

    document.getElementById('downloadForm').onsubmit = function(event) {
        event.preventDefault();
        const filetype = document.getElementById('filetype').value;
        let filename = document.getElementById('filename').value;
        
        if (filetype === 'pdf' && !filename.endsWith('.pdf')) {
            filename += '.pdf';
        } else if (filetype === 'excel' && !filename.endsWith('.xlsx')) {
            filename += '.xlsx';
        }

        let url = '';
        if (filetype === 'pdf') {
            url = '{{ url_for('audit.export_auditoria_pdf') }}' + `?filename_pdf=${filename}&start_date={{ request.args.get('start_date') }}&end_date={{ request.args.get('end_date') }}`;
        } else if (filetype === 'excel') {
            url = '{{ url_for('audit.export_auditoria_excel') }}' + `?filename_excel=${filename}&start_date={{ request.args.get('start_date') }}&end_date={{ request.args.get('end_date') }}`;
        }
        window.location.href = url;
    }
</script>

<style>
    /* Modal Styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        border-radius: 10px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
{% endblock %}
