 <!-- auditoria.html -->

{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: 'Raleway', sans-serif;
        background-color: #f4f4f4;
    }

    .audit-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f4f4f4;
    }

    .audit-header {
        width: 100%;
        max-width: 1000px;
        padding: 20px 10px;
        background-color: #1B878F;
        color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    .audit-table {
        width: 100%;
        max-width: 1000px;
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #1B878F;
        color: white;
    }

    .download-buttons {
        display: flex;
        
        justify-content: center; /* Cambiado para centrar los botones */
        margin-top: 20px; /* Añadir margen superior para separación */
        gap: 20px; /* Espacio entre los botones */
        
    }

    .download-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #D10A11;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .download-button:hover {
        background-color: #a00;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination a {
        margin: 0 5px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        color: #1B878F;
        text-decoration: none;
        border-radius: 5px;
    }

    .pagination a:hover {
        background-color: #1B878F;
        color: #fff;
    }

    .pagination .current {
        background-color: #1B878F;
        color: #fff;
        pointer-events: none;
    }

    .filter-button, .search-button {
        padding: 10px 30px;
        background-color: #D10A11;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        font-weight: bold;
    }
    
    .d-button {
        padding: 10px 20px;
        background-color: #333333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        font-weight: bold;
        text-align: center;
    }

    .filter-button:hover, .search-button:hover {
        background-color: #a00;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 12px 16px;
    }

    .dropdown-content label {
        display: block;
        margin-bottom: 8px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #444444;
    }
    .d-button svg {
  margin-left: 1px; /* Espacio entre el texto y el ícono */
  vertical-align: middle; /* Asegura que el ícono esté alineado con el texto */
}
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="audit-container">
    <div class="audit-header" style="margin-bottom: 20px;">
        <h1>Historial de Auditoría</h1>
    </div>
    <form method="get" action="{{ url_for('audit.auditoria') }}" style="font-family: 'Raleway', sans-serif; font-weight:600;">
        <label for="start_date" style="margin-left: 32px;">Fecha de Inicio:</label>
        <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}" style="font-family: 'Raleway', sans-serif; font-weight: normal; text-align: center; width: 152px;">
        <label for="end_date" style="margin-left: 50px;">Fecha de Fin:</label>
        <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}" style="font-family: 'Raleway', sans-serif; font-weight: normal; text-align: center; width: 152px;">
        <div class="dropdown">
            <button type="button" class="d-button dropbtn">
                
                Acciones
                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#e8eaed">
                    <path d="M480-360 280-560h400L480-360Z"/>
                  </svg>
              </button>
            <div class="dropdown-content">
                <label><input type="checkbox" name="acciones" value="Subió" {% if 'Subió' in request.args.getlist('acciones') %}checked{% endif %}> Subió</label>
                <label><input type="checkbox" name="acciones" value="Eliminó" {% if 'Eliminó' in request.args.getlist('acciones') %}checked{% endif %}> Eliminó</label>
                <label><input type="checkbox" name="acciones" value="Eliminó Carpeta" {% if 'Eliminó Carpeta' in request.args.getlist('acciones') %}checked{% endif %}> Eliminó Carpeta</label>
                <label><input type="checkbox" name="acciones" value="Creó Carpeta" {% if 'Creó Carpeta' in request.args.getlist('acciones') %}checked{% endif %}> Creó Carpeta</label>
                <label><input type="checkbox" name="acciones" value="Movió" {% if 'Movió' in request.args.getlist('acciones') %}checked{% endif %}> Movió</label>
                <label><input type="checkbox" name="acciones" value="Reemplazó" {% if 'Reemplazó' in request.args.getlist('acciones') %}checked{% endif %}> Reemplazó</label>
            </div>
        </div>
        <button type="submit" class="filter-button">Filtrar</button>
        <div style="margin-bottom: 10px;">
            <label for="search_document">Nombre de Archivo:</label>
            <input type="text" id="search_document" name="search_document" value="{{ request.args.get('search_document', '') }}" style="font-family: 'Raleway', sans-serif; font-weight: normal;">
           
        </div>
        <div>
            <label for="search_user">Nombre de Usuario:</label>
            <input type="text" id="search_user" name="search_user" value="{{ request.args.get('search_user', '') }}" style="font-family: 'Raleway', sans-serif; font-weight: normal;">
           
        </div>
    </form>
    <div class="audit-table">
        <table>
            <tr>
                <th>Fecha de Subida</th>
                <th>Acción</th>
                <th>Documento</th>
                <th>Autor</th>
                <th>Versión</th>
            </tr>
            {% for registro in registros %}
            <tr>
                <td>{{ registro['fecha_subida'] }}</td>
                <td>{{ registro['accion'] }}</td>
                <td>{{ registro['documento'] }}</td>
                <td>{{ registro['autor'] }}</td>
                <td>{{ registro['version'] }}</td>
            </tr>
            {% endfor %}
        </table>
      
        <div class="download-buttons" style="text-align: center;">
            <a href="#" class="download-button" onclick="showModal('pdf')">Descargar PDF</a>
            <a href="#" class="download-button" onclick="showModal('excel')">Descargar Excel</a>
        </div>
        <div class="pagination">
            {% for p in range(1, (total // per_page) + 2) %}
                <a href="{{ url_for('audit.auditoria', page=p, start_date=request.args.get('start_date'), end_date=request.args.get('end_date'), acciones=request.args.getlist('acciones'), search_document=request.args.get('search_document'), search_user=request.args.get('search_user')) }}" class="{{ 'current' if p == page else '' }}">{{ p }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal -->
<div id="downloadModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Descargar Auditoría</h2>
        <form id="downloadForm" method="get">
            <label for="filename" class="form-label" style="font-size: large;  font-family: 'Raleway', sans-serif; font-weight: bold;">Nombre del Archivo:</label>
            <input type="text" id="filename" name="filename" class="form-control" style="font-size: large; font-family: 'Raleway', sans-serif; width: 100%; margin-top: 10px;" required>

            <input type="hidden" id="filetype" name="filetype">
            <input type="hidden" name="start_date" value="{{ request.args.get('start_date') }}">
            <input type="hidden" name="end_date" value="{{ request.args.get('end_date') }}">
            <input type="hidden" name="acciones" value="{{ request.args.getlist('acciones') }}">
            <input type="hidden" name="search_document" value="{{ request.args.get('search_document') }}">
            <input type="hidden" name="search_user" value="{{ request.args.get('search_user') }}">
            <div style="text-align: center;"> <button type="submit" class="download-button" style="font-size: large;  font-family: 'Raleway', sans-serif; font-weight: bold; text-align: center;">Descargar</button></div>
        </form>
    </div>
</div>

<script>
    function showModal(filetype) {
        document.getElementById('filetype').value = filetype;

        // Obtener fechas
        const startDate = '{{ request.args.get('start_date', 'None') }}';
        const endDate = '{{ request.args.get('end_date', 'None') }}';

        // Formar nombre predeterminado del archivo
 
    let filename = 'Auditoria';
    if (startDate !== 'None' && endDate !== 'None') {
        filename += ` ${formatDate(startDate)} a ${formatDate(endDate)}`;
    } else {
        const now = new Date();
        const date = formatDate(now.toISOString().slice(0, 10)); // Obtener solo la fecha en formato YYYY-MM-DD y luego formatear
        filename += ` ${date}`;
    }


        // Asignar nombre predeterminado al campo de entrada
        document.getElementById('filename').value = filename;

        // Mostrar modal
        document.getElementById('downloadModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('downloadModal').style.display = 'none';
    }

    document.getElementById('downloadForm').onsubmit = function(event) {
        event.preventDefault();
        const filetype = document.getElementById('filetype').value;
        let filename = document.getElementById('filename').value;
        
        if (filetype === 'pdf' && !filename.endsWith('.pdf')) {
            filename += '.pdf';
        } else if (filetype === 'excel' && !filename.endsWith('.xlsx')) {
            filename += '.xlsx';
        }

        let url = '';
        if (filetype === 'pdf') {
            url = '{{ url_for('audit.export_auditoria_pdf') }}' + `?filename_pdf=${filename}&start_date={{ request.args.get('start_date') }}&end_date={{ request.args.get('end_date') }}&acciones={{ request.args.getlist('acciones') }}&search_document={{ request.args.get('search_document') }}&search_user={{ request.args.get('search_user') }}`;
        } else if (filetype === 'excel') {
            url = '{{ url_for('audit.export_auditoria_excel') }}' + `?filename_excel=${filename}&start_date={{ request.args.get('start_date') }}&end_date={{ request.args.get('end_date') }}&acciones={{ request.args.getlist('acciones') }}&search_document={{ request.args.get('search_document') }}&search_user={{ request.args.get('search_user') }}`;
        }
        window.location.href = url;
    }
    function formatDate(dateString) {
    const [year, month, day] = dateString.split('-');
    return `${day}-${month}-${year}`;
}
</script>

<style>
    /* Modal Styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        border-radius: 10px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
{% endblock %}
